<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Add a book - Library Management </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Add a book</h1>
            <a th:href="@{/books/index_books}">Index of books</a> <a th:href="@{/books/remove}">Remove books</a>
            <form action="#" th:action="@{/books/add}" th:object="${book}" method="post">
                <p>Author: <input type="text" th:field="*{author}"/></p>
                <p>Genre: <input type="text" th:field="*{genre}"/></p>
                <p>Year: <input type="text" th:field="*{year}"/></p>
                <p>Name: <input type="text" th:field="*{name}"/></p>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>